<template>
    <div class="docs" v-html="documentation">
    </div>  
</template>

<style scoped src="@/assets/documentation.css">
</style>

<script>
import marked from 'marked';

// marked.setOptions({
//   highlight: function(code, lang, callback) {
//     require('pygmentize-bundled') ({ lang: lang, format: 'html' }, code, function (err, result) {
//       callback(err, result.toString());
//     });
//   }
// });

export default {
    name: 'Documentation',
    computed: {
        documentation() {
            // 1) Recover Markdown text from store
            // 2) Convert Markdown to HTML using MarkedJS
            // 3) Fill v-html
            var documentation = marked(this.$store.getters.getDocumentation);
            // Output needs to be sanitized
            return documentation;
        }
    }
}
</script>