<template>
  <div><b>hello</b></div>

  <!--button for logging out-->
  <h><input type="button" onclick="keycloak.logout()" name="logout" value="log out"></h>
  <span id="message"></span>

  <!--just any application-->

  <h2>Raw token</h2>
  <div id="raw-token"></div>

  <h2>Parsed token</h2>
  <div id="parsed-token"></div>
</template>>
  
<script src="https://auth.cern.ch/auth/js/keycloak.js"></script>

<script>
    //creating a sample of the function Keycloak present in the JavaScript adapter and configuring it.

    //contructor for the Keycloak function.
    //passing the configuration of the client: it requires the url for the authenticator, the realm name, and the clientID provided by authenticator
    //note: the configurations can be saved in a json file. Then you need to pass the path of the file in the constructor.
    //      example is provided in the README.md file.
    var keycloak = Keycloak({
                url: 'https://auth.cern.ch/auth',
                realm: 'cern',
                clientId: 'sso-example'
            });

    //configuring and calling the authentication request
    //login-required will authenticate the client if the user is logged-in to Keycloak or display the login page if not.
    //implicit flow: an access token is sent immediately after successful authentication with Keycloak. To enable implicit flow,
    //               you need to enable the Implicit Flow Enabled flag for the client in the Keycloak Administration Console.
    //if authentication failed, an error will be shown
    //if authentication succeeded, it will display the token.
    keycloak.init({ onLoad: 'login-required', flow: 'implicit' }).success(function(authenticated) {
                if(authenticated) {
                displayTokenInfo(keycloak);
                }
            }).error(function() {
                alert('failed to initialize');
    });

    //function to display the token and the Parsed token
    const displayTokenInfo = (keycloak) => {
    const rawToken = document.getElementById('raw-token');
    rawToken.innerHTML = `<p>${keycloak.token}</p>`;
    const parsed = document.getElementById('parsed-token');
    const prettyToken = JSON.stringify(keycloak.tokenParsed, null, '\t');
    parsed.innerHTML = `<pre>${prettyToken}</pre>`;
    }

    //the application can make requests to RESTful services secured by Keycloak by including the bearer token in the Authorization header
    // var loadData = function () {
    //     //URL of a restful service
    //     var url = 'http://localhost:8080/restful-service';
    //     var req = new XMLHttpRequest();
    //     req.open('GET', url, true);
    //     req.setRequestHeader('Accept', 'application/json');
    //     req.setRequestHeader('Authorization', 'Bearer ' + keycloak.token);
    //     req.onreadystatechange = function () {
    //         if (req.readyState == 4) {
    //             if (req.status == 200) {
    //                 alert('Success');
    //             } else if (req.status == 403) {
    //                 alert('Forbidden');
    //             }
    //         }
    //     }
    //     req.send();
    // };

    export default{
        name: 'testSSO',
    }
</script>
