/* Styles for Documentation page */

/* GLOBAL PARAMETERS */
.docs {
    font-family: inherit;
}

/* SECTION TITLE */
.docs >>> h1 {
    color:black;
    text-align: center;
}

/* SUBSECTION TITLE */
.docs >>> h2 {
    color:dimgray;
}

/* PARAGRAPH */
.docs >>> p{
    /* Edit here */
    color:black;
    text-align: justify;
    text-justify: inter-word;
    /* End edit */
}

/* QUOTE - EMPHASIZED PARAGRAPH */
.docs >>> blockquote{
    /* Edit here */
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    /* End edit */
}