body {
    font-family: Helvetica;
    font-size: 16px;
}

/* ========================= Main functional blocks ====================== */
/* ------------ Sidebar -------------- */
.sidebar {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 1%;
    padding-left: 3%;
    background-color: aliceblue; 
    color:gray; 
    overflow-y: auto;
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.2);
}

.sidebar-title {
    padding-bottom: 0.5%;
}

.sidebar-content {
    padding-left: 3%;
    /* padding-bottom: 0.5%; */
    flex-direction: column;
}

hr.sidebar-divider {
    color: gray;
    border-color: gray;
    border-radius: 4px;
    border-style: solid;
    left: -2%;
    width: 95%;
    /* float: left; */
    display:block;
}

/* ------------ Navigation ------------ */

.nav{
    display: flex;
    flex-direction: inherit;
}

.nav-item{
    padding-bottom: 10%;
    color: inherit;
    text-decoration: none;
}

a.nav-item:link {
}

a.nav-item:hover{
    color:blue;
    text-decoration: none;
}

a.nav-item:active{
    color:blue;
    text-decoration: none;
}

a.nav-item:visited{
}
/* ------------- Basket -------------- */

.basket{
    z-index: 2;
    width: 98%;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    position:relative;
    left: -1%;
    background-color:beige; 
    color:gray;
    flex-direction: column;
    display: flex;
    border-radius: 5px;
    scroll-behavior: auto;
    margin: 2%;
}


.basket-item{
    padding-top: 2pt;
    padding-bottom: 2pt;
    font-size: 10pt !important;
    display: block;
}

.basket-item-content{
    padding-top: 2pt;
    padding-bottom: 2pt;
    display: flex;
    flex-direction: row;
    /* background-color: azure; */
}


.basket-item-quantity {
    width: 10%;
    text-align: center;
}

.basket-item-description{
    width: 70%;
    padding-left: 1px;
}
.basket-item-description-details{
    width: 70%;
    padding-left: 1px;
    font-size: 0.8em;
}

.basket-item-price {
    width: 10%;
    padding-right: 1px;
}

.basket-item-buttongroup {
    width: 10%;
    text-align: center;
    color:brown;
}


/* =================== Main content ======================== */

.main-content {
    width: 84%;
    top: 0;
    position: absolute;
    /* left: 20%; */
    margin-left: 250px;
    padding-left: 5%;
    padding-right: 2%;
    padding-top: 1%;
}
@media only screen and (max-width: 992px) {
    .main-content {
        width: 100%;
    }
}

/* Parts */
.part {
    box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    padding-left: 4%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    display: block;
}
.part:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.part-title{
    color:black;
    font-weight: bold;

}

.part-content {
    display: flex;
    flex-direction: row;
}

.part-description{
    color:black;
    text-align: justify;
    text-justify: inter-word;
    display: block;
    width: 80%;
}

.part-price{
    padding-left: 2em;
    display: block;
    text-align: right;
    width: 20%;
}

.part-userInputs{
    padding: auto;
    /* text-align: right; */
    /* width: 50%; */
    right: 0;
}

.part-packages-radio{

}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }